@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Poppins:ital,wght@0,300;1,300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
/*GLOBAL COLORS*/
    --body-color: #e4e9f7;
    --sidebar-color:#fff;
    --primary-color:#32A8F7;
    --primary-color-dark:#0A6EBD;
    --primary-color-light:#f6f5ff;
    --toggle-color:#dddd;
    --text-color:#707070;

/*GLOBAL TRANSITIONS*/   

    --transition-1: all 0.2s ease;
    --transition-2: all 0.3s ease;
    --transition-3: all 0.4s ease;
    --transition-4: all 0.5s ease;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition:var(--transition-2);
}
body.dark{
    --body-color: #18191a;
    --sidebar-color:#242526;
    --primary-color:#FFFFFF;
    --primary-color-dark:#fff;
    --primary-color-light:#3a3b3c;
    --toggle-color:#fff;
    --text-color:#ccc   ;
}


.sidebar{
    position: fixed;
    top: 0;
    height: 100%;
    width: 300px;
    padding: 10px 14px;
    background-color: var(--primary-color-light);
    align-items: center;
}

/*------------------RESUABLE CSS-----------------------*/

.sidebar .text{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}



.sidebar .image{
    min-width: 30px;
    display: flex;
    align-items: center;
}

.sidebar li {
    height: 35px;
    margin-top: 40px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--primary-color);
    transition: var(--transition-3);
}

/*-----------------------------------------------------*/

.sidebar header {
    position: relative;
}

.sidebar .image img{
    width: 35px;
    border: 15px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.sidebar .header-text .school{

    padding: 10px;
    font-size: 15px;

    color: var(--primary-color);
    font-weight: 700;
}

.header-text .location{
    padding: 10px;
    margin-top: -20px;
}

.sidebar header .toggle{
    position: absolute;
    top: 1;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 25px;
    color: var(--primary-color-light);
}

.sidebar .search-bar{
    
    background-color: var(--body-color);
    outline: none;
}

.search-bar input{
    font-size: 20px;
    font-weight: lighter;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: var(--body-color);
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--transition-4);
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--primary-color-light);

}

.sidebar .menu-bar{
    height: calc(95% - 45px) !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-bar .mode{
    background: var(--body-color);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
}

.menu-bar .mode i.sun{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;   
    min-width: 60px;
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
}

body.dark .switch::before{
    left: 24px;
    
}